
.App {

    display: flex;
    flex-direction: column;
    row-gap: 0;
    background: #23252C;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: auto;

}


.small-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    align-self: center;
    font-size: 8px;
    font-family: 'Inter', 'sans-serif';
    color: white;
    text-transform: lowercase;
}

.qr {
    padding-right: 70px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    box-sizing: border-box;

    /* Auto layout */
    font-family: 'Inter', 'sans-serif';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    background: #525557;
    /* gray/300 */
    color: #D1D5DB;
    /*border: 1px solid #D1D5DB;*/
    /* shadow/sm */
    width: auto;
    height: 34px;
    margin: 15px auto 10px;
    border-radius: 10px;
}

.btn > p {
    font-family: 'Inter', 'sans-serif';

    font-size: 10px;
}
