.portrait {

    border-radius: 10px 10px 0 0 !important;
    background: #23252C;
    background-size: cover;
    width: 317px;
    height: 317px;
    margin-bottom: 21px;
    padding-bottom: 0;

}

a.url {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-decoration: none;
    /* identical to box height, or 15px */
    color: #F5F5F5;
    text-align: center;
    margin-bottom: 0;

}

a.url:hover {

    text-decoration: underline;


}

.mail {
    /* Button */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;

    width: 115px;
    height: 34px;
    margin-left: 35px;

    /* white */

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-bottom: 33px;

}

.mail:hover {
    background: #d5d5d5;

}

.mail > p {
    /* Text */


    width: 36px;
    height: 16px;

    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    /* gray/700 */

    color: #374151;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.mail-primary {
    /* Button */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;

    width: 247px;
    height: 34px;
    margin-left: 35px;

    /* white */

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-bottom: 33px;

}

.mail-primary > p {
    /* Text */
text-decoration: none;

    width: 36px;
    height: 16px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    /* gray/700 */

    color: #374151;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.mail-primary:hover {

    background: #d5d5d5;

}

a{
    text-decoration:none;
}
.linkedin {
    /* Button */

    /* Auto layout */
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;

    width: 115px;
    height: 34px;
    background: #5093E2;
    /* shadow/sm */

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 35px 33px 17px;
}


.linkedin:hover {
    background: #4278b6;

}




.button-container {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}