
button {
    font-family: 'Inter', sans-serif;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    margin-top: 0;
}

.business-card {
    width: 317px;
    /*background: #161619;*/
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #23252C;

}

.canvas {
    width: 550px;
    min-height: 780px;
    background: #23252C;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
}



.business-card-body {
    margin-top: 44px;
    background: #1A1B21;
    border-radius: 0 0 10px 10px;

}

.business-card-body > h1 {
    background-color: #1A1B21;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0;

}

.buttons {

    background: #1A1B21;

}


.business-card-body > h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    margin-top: 7px;
    color: #F3BF99;


}

a.url {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-decoration: none;
    /* identical to box height, or 15px */
    color: #F5F5F5;
    text-align: center;

}

a.url:hover {

    text-decoration: underline;


}










.body-text-container {
    height: auto;

}

.link-container > a {
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
}




