.footer-icon {
    margin-top: 19px;
    width: 25px;
    height: 25px;
    margin-right: 12px;
    margin-left: 12px;
}

.footer-icon:hover {
    box-shadow: 2px 2px 2px #384c82;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.business-card-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    height: 64px;
    width: 317px;
    border-radius: 0 0 10px 10px;
    background: #161619;

}
